
/*navbar*/


.bg-dark {
    background-color: transparent !important;
    transition: 1000ms, ease;     /* !!!!!!!!!!!!!!!!!!!not working*/
}

.bg-dark.scrolled {
    background-color: rgb(51, 40, 82) !important;

}


.callout-container-home {
    height: 100vh;
    background: url('../images/stock-photo-city-scape-st-vincent-street-glasgow-749666785.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    /*align-items: center;*/
    justify-content: center;

    position: relative;
}

/*jumbotron*/
.jumbotron {
    background-color: transparent;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.welcome-container-home {
    height: 100vh;
    background: url('../images/stock-photo-glasgow-scotland-july-equestrian-statue-of-duke-of-wellington-wearing-a-traffic-cone-on-his-706698670.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.neighbourhoods-container-home {
    height: 100vh;
    background-color: white;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;                       /delete otherwise the map is hidden beneath the bg
    align-items: center;                   delete otherwise the map is hidden beneath the bg
    justify-content: center;

    position: relative;*/
}

#map {
    min-height: 700px;
}
.accommmodation-container-home {
    height: 100vh;
    background: url('../images/stock-photo-view-of-central-glasgow-in-scotland-uk-729714424.jpg') no-repeat center fixed;
    -webkit-background-size: cover%;
    -moz-background-size: cover%;
    -o-background-size: cover%;
    background-size: cover;
    
    
    display: flex;
    display: flex;
    /*align-items: center;*/
    justify-content: center;

    position: relative;
}

.localservices-container-home {
    height: 100vh;
    background:  white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    /*align-items: center;*/
    justify-content: center;

    position: relative;  
}